#footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: teal;
    color: white;
    text-align: center;

    padding: 10px 0;
}
